.post {
  border: 1px solid rgb(235, 230, 230);
  padding: 10px;
  margin: 10px;
  max-width: 800px;
  display: flex;
  box-shadow: 3px 1px 6px 1px rgba(0, 0, 0, 0.2);
}

.post__image {
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}
.post__title {
}

.post__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex: 0.5;
}

.post__content {
  margin-top: 10px;
}

.post__content a {
  padding: 10px;
}

.post__published {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .post {
    flex-direction: column;
  }
}
