.login {
  position: relative;
  background-color: white;
  max-width: 400px;
  height: 400px;
  margin: 200px auto;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
}

.login h1 {
  font-family: 'Sansita Swashed', cursive;
  position: absolute;
  top: 30px;
}

.login__form {
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 300px;
  justify-content: space-between;
}

.login__form p {
  padding: 10px;
  text-align: center;
  font-size: 16px;
}
