.createPost {
  max-width: 1000px;
  height: 80vh;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
